{
  "extends": "airbnb-base",
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "prefer-template": "warn",
    "no-console": "off",
    "comma-dangle": ["error", "never"],
    "no-extra-parens": "error"
  }
}
